/*===============================
  Base Styles
===============================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background: var(--background-color);
  color: var(--text-color);
}

html {
  overflow-x: hidden;
  max-width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: auto;
  scrollbar-color: var(--accent-background) var(--background-color);
  scrollbar-width: thin;
}

body {
  font-family: var(--theme-font);
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
}

p {
  font-family: var(--body-font)
}

li {
  font-family: var(--body-font);
}

/*===============================
  Layout
===============================*/

.w {
  max-width: 800px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
