/*===============================\
  Base Styles
===============================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background: var(--background-color);
  color: var(--text-color);
}

html {
  overflow-x: hidden;
  max-width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  scrollbar-color: var(--accent-background) var(--background-color);
  scrollbar-width: thin;
  /* overflow-y: hidden; /* REMOVED */
}

body {
  font-family: var(--theme-font);
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
  /* height: 100%; /* REMOVED */
  /* overflow-y: hidden; /* REMOVED */
}

p {
  font-family: var(--body-font)
}

li {
  font-family: var(--body-font);
}

/* Scrollable Wrapper */
/* #page-wrapper rule REMOVED */


/*===============================\
  Layout
===============================*/

.w {
  max-width: 65ch;
  margin: 0 auto;
  padding: 2rem 1rem 8rem 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

