.photo-list {
  margin: 2rem auto;
  max-width: 600px;
}

.photo-item {
  margin-bottom: 2rem;
}

.photo-item .photo-img {
  display: block;       
  max-width: 100%;       
  max-height: 600px;     
  width: auto;            
  height: auto;           
  min-height: 100px;
  margin-left: auto;     
  margin-right: auto;    
  background-color: var(--accent-background);
}

.photo-caption {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--text-color);
  text-align: center;
  padding: 0 1rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 840px) {
  .photo-caption {
     max-width: 95%;
  }
}
