/*===============================\n  Typography\n===============================*/

h1 {
  font-size: 2.5rem;
  margin: 6rem 0 1.5rem 0;
  line-height: 1.8rem;
  text-align: center;;
  }
  
  .site-title {
    font-size: 2.5rem;
  }

h2 { font-size: 1.3rem; line-height: 1.3; }
h3 { font-size: 1.2rem; line-height: 1.4; }
  
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 3rem;
    margin-block-end: 0rem;
  }

  strong {
    font-weight: 700;
    font-style: italic;
  }

  /*===============================\n    Header\n  ===============================*/

  header h1 {
    margin-block-end: 1.5rem;
  }
  
  /*===============================\n    Lists\n  ===============================*/
  
  ul {
    list-style-position: outside;
    list-style: none;
    margin-top: 2.6em;
    margin-bottom: 2.6em;
  }
  
  li {
    margin: 0.4rem 0.2rem 0.4rem -2rem;
    padding-left: 2.2em;
    background-image: url(../../../site_icon.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
    background-size: 16px 16px;
  }

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) li:not(ol li):not(.alphabetical-list li) {
    background-image: url(../../../site_icon_white.png);
  }
}

:root[data-theme="dark"] li:not(ol li):not(.alphabetical-list li) {
  background-image: url(../../../site_icon_white.png);
}


  ol li {
    background-image: unset; 
    margin-left: 0rem;
    padding-left: 0.5rem;
    position: relative;
  }

  ol li::marker {
    font-family: var(--theme-font);
    font-weight: bold;
  }
  
  .alphabetical-list {
    list-style-type: lower-alpha;
    margin-top: 2em; 
    margin-bottom: 2em; 
  }
  
  .alphabetical-list li {
    background-image: unset; 
    margin-left: 0rem;
    padding-left: 0.5rem;
    position: relative;
  }
  
  .alphabetical-list li::marker {
    font-weight: bold;
    font-family: var(--theme-font);
  }
  
  /* Checkboxes */
  
  label {
    display: flex;
    align-items: baseline;
    margin-top: 1rem;
    user-select: text;
    -webkit-tap-highlight-color: transparent;
  }
  
  input[type="checkbox"] {
    margin-right: 1rem;
    transform: scale(1.5);
    accent-color: var(--accent-color);
  }
  
  input[type="checkbox"]:focus {
    outline-width: 0.2rem;
    outline-color: var(--text-color); 
  }
  
  /* Page Links */
  
  .page-links {
    font-size: 1.2em;
  }
  
  .page-links li {
    margin: 1rem 0.2rem 1rem -2rem;
    padding-left: 1.8em;
    background-image: url(../../../site_icon.png);
    background-repeat: no-repeat;
    background-position: 0px 2px;
    background-size: 20px 20px;
  }

  .page-links li {
    /* ... other styles ... */
    background-image: url(../../../site_icon.png);
  }
  
  
  /*===============================\n    Links\n  ===============================*/
  
  *:target {
    background-color: var(--accent-background);
  }
  
  a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  
  a:hover {
    color: var(--background-color);
    background-color: var(--text-color);
  }
  
  a:focus {
    color: var(--background-color);
    background-color: var(--text-color);
    outline: none;
  }
  
  li a {
    text-decoration: none;
  }
  
  /* Navigational links */
  
  a.nav {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    padding: 0.4rem;
  }
  
  a.nav:hover {
    color: var(--background-color);
    background-color: var(--text-color);
  }
  
  a.nav:focus {
    color: var(--background-color);
    background-color: var(--text-color);
    outline: none;
  }
  
  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}
  
  .nav-home {
    font-size: 1.2rem;
    padding: 0;
    color: var(--accent-color);
  }
  
  .nav-home a {
    padding: 0;
  }
  
  /*===============================\n    Pagination\n  ===============================*/
  
  .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
  }
  
  @media (max-width: 600px) {
    .pagination {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 8rem;
    }
  }
  
  /*===============================\n    Horizontal Rule\n  ===============================*/
  
  hr {
    margin: 4rem 0;
    text-align: center;
    border: 0;
  }
  
  hr:before {
    content: "%%%%";
    font-size: 2rem;
    color: var(--text-color);
    display: block;
  }

  
  /*===============================\n    Tables\n  ===============================*/
  
  table,
  th,
  td {
    border: thin solid;
    border-collapse: collapse;
    padding: 0.4rem;
    width: 100%;
    table-layout: fixed;
  }
  
  table.character-table {
    border-collapse: collapse;
    border: none;
    width: auto;
    font-size: 1.4rem;
    margin: 2rem 0;
  }
  
  .character-table th, td {
    border: none;
    padding: 0.6rem 1.2rem;
    width: auto;
  }
  
  .characther-table th:first-child, td:first-child {
    font-weight: bold;
  }
  
  /*===============================\n    Code\n  ===============================*/
  
  code {
    background-color: var(--accent-background);
    color: var(--text-color);
    font-family: var(--body-font);
  }
  
  code.kaomoji {
    background-color: var(--background-color);
    color: var(--text-color);
    white-space: nowrap;
    display: inline-block;
  }
  
  div.highlighter-rouge code {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    padding: 1rem;
  }

  .ascii code {
    background-color: var(--background-color);
    color: var(--text-color);
    white-space: nowrap;
    display: inline-block;
    font-size: calc(8px + (16 - 6) * ((100vw - 300px) / (1600 - 300)));
  }
  
  
  /*===============================\n    Blockquote\n  ===============================*/
  
  blockquote {
    font-style: normal;
    border: 2px dotted var(--text-color);
    padding: 0rem 1.5rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin: 2em 0;
  }
  
  blockquote p {
    margin: 1em 0;
  }
  
  .example {
    padding: 1rem 1.6rem;
    margin: 2rem 0; 
    border: none;
  }
  
  .example strong {
    border-bottom: 2px dotted;
    font-weight: unset;
  }
  
  /*===============================\n    Images\n  ===============================*/
  
  img {
    max-width: 100%;
    display: block;
  }
  
  .center {
    margin: 0 auto;
  }
  
  .no-results-images {
    display: flex;
    justify-content: flex-start;
    gap: 0.8rem;
  }
  
  .no-results-images img {
    max-width: 1.5rem;
    height: auto;
    margin: 0;
  }
  
  /*===============================\n    Miscellaneous\n  ===============================*/
  
  
  .space-above {
    margin-top: 6rem;
  }
  
  .small-print {
    font-size: 0.5rem;
  }
  
  
/*===============================\n    Theme Toggle\n  ===============================*/


  .theme-toggle-container {
    position: relative;
    top: 2.7rem;
}

/* For pages with navigation */
.top-nav .theme-toggle-container {
    position: static;
    margin-left: 1rem;
}

header .theme-toggle-container {
  top: 0.39rem;
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.2rem;
    color: var(--text-color);
    -webkit-tap-highlight-color: transparent;
    transition: color 0.2s ease;
    margin-left: 0.5rem;
}

#theme-toggle:hover {
    color: var(--accent-color);
    transition: color 0.2s ease;
}

#theme-toggle-icon {
  vertical-align: middle;
}

/*===============================\n    Post-related\n  ===============================*/

  .excerpt {
    margin-top: 0.2rem;
    font-size: 0.9rem;
  }

  .post-list-title {
    font-weight: bold;
    margin-top: 0.2rem;
    display: inline-block;
    font-family: "IBM Plex Mono", monospace;
  }

  .post-date {
    display: block;
    font-size: 0.9rem;
    color: var(--text-color);
  }
  
  .post-list li {
    margin-bottom: 2em;
  }

  .more-link {
    text-align: right;
  }

  .post-meta {
    text-align: right;
  }

  /*===============================\n    Footnotes\n  ===============================*/

 sup[id^="fnref"] { 
      font-size: 1rem; 
      top: unset; 
      position: relative;
      line-height: 0;
      font-family: var(--theme-font);
    }
  
 sup[id^="fnref"] a {
      text-decoration: none;
      padding: 0 0.2rem;
      font-weight: bold;
    }

 sup[id^="fnref"] a::before {
  content: "[";
}

sup[id^="fnref"] a::after {
  content: "]";
}

.reversefootnote {
  margin-left: 1rem;
  font-family: var(--theme-font);
  font-size: 0.8rem;
}
