:root {
  --light-bg: #fafafd;
  --light-text: #26262a;
  --light-accent: #c99c22;
  --light-accent-bg: #e7e3d9cc;
  --light-border-color: rgba(0, 0, 0, 0.05);

  --dark-bg: #26262a;
  --dark-text: #fafafd;
  --dark-accent: #c99c22;
  --dark-accent-bg: #6c5d3b9e;
  --dark-border-color: rgba(255, 255, 255, 0.02);

  --theme-font: "IBM Plex Mono", monospace;
  --body-font: "Atkinson Hyperlegible Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  /* Default to light theme variables */
  --background-color: var(--light-bg);
  --text-color: var(--light-text);
  --accent-color: var(--light-accent);
  --accent-background: var(--light-accent-bg);
  --border-color: var(--light-border-color);
}
@media (prefers-color-scheme: light) {
  :root:not([data-theme="dark"]) {
      --background-color: var(--light-bg);
      --text-color: var(--light-text);
      --accent-color: var(--light-accent);
      --accent-background: var(--light-accent-bg);
      --border-color: var(--light-border-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
      --background-color: var(--dark-bg);
      --text-color: var(--dark-text);
      --accent-color: var(--dark-accent);
      --accent-background: var(--dark-accent-bg);
      --border-color: var(--dark-border-color); 
  }

  :root:not([data-theme="light"]) .no-results-images img,
  :root:not([data-theme="light"]) .invert {
      filter: invert(1);
  }
}

:root[data-theme="light"] {
  --background-color: var(--light-bg);
  --text-color: var(--light-text);
  --accent-color: var(--light-accent);
  --accent-background: var(--light-accent-bg);
  --border-color: var(--light-border-color); 
}

:root[data-theme="dark"] {
  --background-color: var(--dark-bg);
  --text-color: var(--dark-text);
  --accent-color: var(--dark-accent);
  --accent-background: var(--dark-accent-bg);
  --border-color: var(--dark-border-color); 
}

:root[data-theme="dark"] .no-results-images img,
:root[data-theme="dark"] .invert {
  filter: invert(1);
}
